<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>German</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epub</string>
				<string>EPUB</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>EPUB files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>universalJavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>paginaEPUBChecker_1024.icns</string>
	<key>CFBundleIdentifier</key>
	<string>de.paginagmbh.epubchecker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>pagina EPUB-Checker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.8_525f1</string>
	<key>CFBundleSignature</key>
	<string>PAEC</string>
	<key>CFBundleVersion</key>
	<string>2.0.8</string>
	<key>JavaX</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/paginaEPUBChecker.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.8+</string>
		<key>MainClass</key>
		<string>de.paginagmbh.epubchecker.PaginaEPUBChecker</string>
		<key>SplashFile</key>
		<string>SplashScreen_Mac.png</string>
		<key>VMOptions</key>
		<string>-Xss1024k</string>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>There was an error while launching pagina EPUB-Checker. Please click OK to display a dialog with more information or cancel and view the syslog for details.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010-2022 pagina GmbH, Tübingen, Germany</string>
</dict>
</plist>
