@charset "UTF-8";
/* Cascading Stylesheet für OA-HVerlag */
/* Version: 0.1 9.5.2019  MRE          */
/* Version: 0.2 20.8.2019 PA           */

@font-face {
	font-family: 'Source Serif Pro', 'Source Code Pro', 'Source Sans Pro'; src: url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,600,600i|Source+Serif+Pro:400,600&display=swap' rel='stylesheet');
	}

/* Universalselektor, Angaben gelten für das gesamte Dokument */

* { 
margin:0; 
padding:0; 
font-family: 'Source Serif Pro', serif;
font-weight: 400;
font-size: 100%;
line-height: 1.6em;
color: #474F57;
position: relative;
z-index: 1;
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
-o-hyphens: auto;
hyphens: auto;
}

body {
	background: #fff;
}

main {
margin:30; 
padding:3; 
}


@media only screen and (min-width: 51em) { 

/* Media Query Screen */

/* Schriftformatierung  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 2em;
line-height: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.5em 0;
}

h2  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 1.5em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}

h3  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}


h4 { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-style:italic;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
h5  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-style:italic;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
h6  { 
font-family: 'Source Serif Pro', serif;
font-weight:600;
font-size: 100%;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
p  {
text-align: left;
text-indent: 1.6em;
}

p.normal{
font-style: normal;
}

p.zitat{
font-style: italic;
}
	
h1+p {
text-indent: 0em;
}

h2+p {
text-indent: 0em;
}
	
h3+p {
text-indent: 0em;
}
	
h4+p {
text-indent: 0em;
}
	
h5+p {
text-indent: 0em;
}
	
h6+p {
text-indent: 0em;
}
	
div#list+p {
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
div#disp-formula+p {
text-indent: 0em;
margin: 0.5em 0 0 0;
}
	
div#table-wrap+p {
text-indent: 0em;
margin: 0.5em 0 0 0;
}

em, i  { 
font-style: italic; 
}

strong, b {
font-weight: bold; 
}

ul {
	list-style-type:disc;
	margin: 0.5em 1.5em; 0.5em 0;
}

li>p {
		margin-left: -1em;
	}

li>div#list>ul {
	list-style-type:circle;
	margin: 0 0 0 0;
	padding-left: 2em;
}

/* Navigation */
nav {
	padding: 0 0 2em 4em;
	max-width: 60em;
}

/* Inhaltsbereich */
div#inhalt {
	height: 26em;
	clear: both; /* float-Eigenschaft Links ausheben */
}
		
/* Tabellen */
tr{}
td.normal{padding:0.5em}
td.head{font-weight: bold; padding:0.5em}

div#titelseite{}
div#inhaltsseiten{}
div#titelseite{}
div#inhaltsseiten{}
div#anhang{}
div#appendix{}
/*
BITS-Elemente
*/
/* Buchelemente */
div#book-back{}

/* book-meta */
div#book-meta{}
div#book-id{}
div#book-title-group{}
div#book-title{
	font-size:1.5em;
}
div#contrib-group{}
div#contrib_author{font-color:blue;}
div#contrib_reviewer{font-color:green}
div#contrib_other{font-color:red}

div#degrees{}
div#aff{}
div#institution{}
div#city{}
div#country{}
	
div#pub-date{}
div#isbn{}
div#publisher{}
div#publisher-name{}
div#publisher-loc{}	

div#name{}

div#abstract{}
div#address{}

/* Kapitel */
div#sec{}


div#list{}

/* Formeln */
div#disp-formula{}
div#disp-formula-label{}

/* Bibliografie */
div#ref-list{}
div#Bibliografie-Title{font-size:1.5em;}



div#box {
	height: auto;
	width:40em;
	margin:10px;
	padding: 10px;
  	border: 1px solid black;
	text-align:right;
	background-color:lightgrey;
	float:right; 
}

div#formel {
	height:auto;
	width:auto;
	margin:10px;
	padding: 10px;
  	border: 1px solid lightgray;
	text-align:left;
	background-color:white;
}
div#formel_nummer {
	text-align:right;
}

video {
	float:right; 
}
.clear {    
    clear:both;    
}


/* Aussehen von Links */
a:link, a:visited, a:focus, a:active, a:target { 
margin:0; 
text-decoration:underline;
color: inherit;
-webkit-hyphens: none;
-moz-hyphens: none;
-ms-hyphens: none;
-o-hyphens: none;
hyphens: none;


/* Safari Vendor-Präfix*/
-webkit-transition-property: background;
-webkit-transition-duration: 0.5;
-webkit-transition-timing-function: ease;
-webkit-transition-delay: 0.1s;

/* Firefox Vendor-Präfix */
-moz-transition-property: background;
-moz-transition-duration: 0.5s;
-moz-transition-timing-function: ease;
-moz-transition-delay: 0.1s; 

/* ohne Vendor-Praefix, da es wohl mal von allen Browsern unterstuetzt wird   */
transition-property: background;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: 0.1s;
}
	
	}

@media only screen and (max-width: 50.99em) and (min-width: 38em) { 

main {

	}

/* Media Query Tablet */
	
h1 { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 2em;
line-height: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.5em 0;
}

h2  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 1.5em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}

h3  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}


h4 { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-style:italic;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
h5  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-style:italic;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
h6  { 
font-family: 'Source Serif Pro', serif;
font-weight:600;
font-size: 100%;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
p  {
text-align: left;
text-indent: 1.6em;
}

p.normal{
font-style: normal;
}

p.zitat{
font-style: italic;
}
	
h1+p {
text-indent: 0em;
}

h2+p {
text-indent: 0em;
}
	
h3+p {
text-indent: 0em;
}
	
h4+p {
text-indent: 0em;
}
	
h5+p {
text-indent: 0em;
}
	
h6+p {
text-indent: 0em;
}
	
div#list+p {
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
div#disp-formula+p {
text-indent: 0em;
margin: 0.5em 0 0 0;
}
	
div#table-wrap+p {
text-indent: 0em;
margin: 0.5em 0 0 0;
}

em, i  { 
font-style: italic; 
}

strong, b {
font-weight: bold; 
}

ul {
	list-style-type:disc;
	margin: 0.5em 1.5em; 0.5em 0;
}

li>p {
		margin-left: -1em;
	}

li>div#list>ul {
	list-style-type:circle;
	margin: 0 0 0 0;
	padding-left: 2em;
}


/* Navigation */
nav {
	padding: 0 0 2em 1em;
	max-width: 60em;
}

/* Inhaltsbereich */
div#inhalt {
	height: 26em;
	clear: both; /* float-Eigenschaft Links ausheben */
}
	
/* Tabellen */
tr{}
td.normal{padding:0.5em}
td.head{font-weight: bold; padding:0.5em}

div#titelseite{}
div#inhaltsseiten{}
div#titelseite{}
div#inhaltsseiten{}
div#anhang{}
div#appendix{}
/*
BITS-Elemente
*/
/* Buchelemente */
div#book-back{}

/* book-meta */
div#book-meta{}
div#book-id{}
div#book-title-group{}
div#book-title{
	font-size:1.5em;
}
div#contrib-group{}
div#contrib_author{font-color:blue;}
div#contrib_reviewer{font-color:green}
div#contrib_other{font-color:red}

div#degrees{}
div#aff{}
div#institution{}
div#city{}
div#country{}
	
div#pub-date{}
div#isbn{}
div#publisher{}
div#publisher-name{}
div#publisher-loc{}	

div#name{}

div#abstract{}
div#address{}

/* Kapitel */
div#sec{}


div#list{}

/* Formeln */
div#disp-formula{}
div#disp-formula-label{}

/* Bibliografie */
div#ref-list{}
div#Bibliografie-Title{font-size:1.5em;}



/* Aussehen von Links */
a:link, a:visited, a:focus, a:active, a:target { 
margin:0; 
text-decoration:underline;
color: inherit;
-webkit-hyphens: none;
-moz-hyphens: none;
-ms-hyphens: none;
-o-hyphens: none;
hyphens: none; 


/* Safari Vendor-Präfix*/
-webkit-transition-property: background;
-webkit-transition-duration: 0.5;;
-webkit-transition-timing-function: ease;
-webkit-transition-delay: 0.1s;

/* Firefox Vendor-Präfix */
-moz-transition-property: background;
-moz-transition-duration: 0.5s;
-moz-transition-timing-function: ease;
-moz-transition-delay: 0.1s; 

/* ohne Vendor-Praefix, da es wohl mal von allen Browsern unterstuetzt wird   */
transition-property: background;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: 0.1s;
}
		}

@media only screen and (max-width: 37.99em) {

/* Media Query Smartphone */

main {}

h1 { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 2em;
line-height: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.5em 0;
}

h2  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 1.5em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}

h3  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}


h4 { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-style:italic;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
h5  { 
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
font-style:italic;
font-size: 1.2em;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
h6  { 
font-family: 'Source Serif Pro', serif;
font-weight:600;
font-size: 100%;
letter-spacing: 0.02em;
text-align: left;
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
p  {
text-align: left;
text-indent: 1.6em;
}

p.normal{
font-style: normal;
}

p.zitat{
font-style: italic;
}
	
h1+p {
text-indent: 0em;
}

h2+p {
text-indent: 0em;
}
	
h3+p {
text-indent: 0em;
}
	
h4+p {
text-indent: 0em;
}
	
h5+p {
text-indent: 0em;
}
	
h6+p {
text-indent: 0em;
}
	
div#list+p {
text-indent: 0em;
margin: 0.5em 0 0.2em 0;
}
	
div#disp-formula+p {
text-indent: 0em;
margin: 0.5em 0 0 0;
}
	
div#table-wrap+p {
text-indent: 0em;
margin: 0.5em 0 0 0;
}

em, i  { 
font-style: italic; 
}

strong, b {
font-weight: bold; 
}

ul {
	list-style-type:disc;
	margin: 0.5em 1.5em; 0.5em 0;
}

li>p {
		margin-left: -1em;
	}

li>div#list>ul {
	list-style-type:circle;
	margin: 0 0 0 0;
	padding-left: 2em;
}

/* Navigation */
nav {
	padding: 0 0 2em 1em;
	max-width: 60em;
}

/* Inhaltsbereich */
div#inhalt {
	height: 26em;
	clear: both; /* float-Eigenschaft Links ausheben */
}
	
/* Tabellen */
tr{}
td.normal{padding:0.5em}
td.head{font-weight: bold; padding:0.5em}

div#titelseite{}
div#inhaltsseiten{}
div#titelseite{}
div#inhaltsseiten{}
div#anhang{}
div#appendix{}
/*
BITS-Elemente
*/
/* Buchelemente */
div#book-back{}

/* book-meta */
div#book-meta{}
div#book-id{}
div#book-title-group{}
div#book-title{
	font-size:1.5em;
}
div#contrib-group{}
div#contrib_author{font-color:blue;}
div#contrib_reviewer{font-color:green}
div#contrib_other{font-color:red}

div#degrees{}
div#aff{}
div#institution{}
div#city{}
div#country{}
	
div#pub-date{}
div#isbn{}
div#publisher{}
div#publisher-name{}
div#publisher-loc{}	

div#name{}

div#abstract{}
div#address{}

/* Kapitel */
div#sec{}


div#list{}

/* Formeln */
div#disp-formula{}
div#disp-formula-label{}

/* Bibliogragie */
div#ref-list{}
div#Bibliografie-Title{font-size:1.5em;}



/* Aussehen von Links */
a:link, a:visited, a:focus, a:active, a:target { 
margin:0; 
text-decoration:underline;
color: inherit;
-webkit-hyphens: none;
-moz-hyphens: none;
-ms-hyphens: none;
-o-hyphens: none;
hyphens: none;
	

/* Safari Vendor-Präfix*/
-webkit-transition-property: background;
-webkit-transition-duration: 0.5;;
-webkit-transition-timing-function: ease;
-webkit-transition-delay: 0.1s;

/* Firefox Vendor-Präfix */
-moz-transition-property: background;
-moz-transition-duration: 0.5s;
-moz-transition-timing-function: ease;
-moz-transition-delay: 0.1s; 

/* ohne Vendor-Praefix, da es wohl mal von allen Browsern unterstuetzt wird   */
transition-property: background;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: 0.1s;
}
	}